<div class="row justify-content-center col mb-3">
                <div class="col-sm-12 aling-self-center">
                    <div class="container" id="contenedorLogo">
                        <h2 style="text-align: center">AÑADIR PARTICIPANTE</h2>
                        <div class="row justify-content-center col mb-3" >
                            <div class="col-sm-6">
                                <form>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12 col mb-3">
                                            <select id="grupoParticipante" class="form-control form-control-lg">
                                                <option>Grupo...</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col mb-3">
                                            <input id="codigoParticipante" class="form-control form-control-lg" placeholder="Codigo">
                                        </div>
                                        <div class="col-sm-12 col mb-3">
                                            <input id="nombreParticipante" class="form-control form-control-lg" placeholder="Nombre">
                                        </div>
                                        <div class="col-sm-12 col mb-3">
                                            <select id="carreraParticipante" class="form-control form-control-lg">
                                                <option>carrera...</option>
                                                <option>Ing.Sistemas y computación</option>
                                                <option>Ing.Electronica</option>
                                                <option>Ing.Industrial</option>
                                                <option>Ing.Minas</option>
                                                <option>Finanzas y comercio internacional</option>
                                                <option>Administración de empresas</option>
                                                <option>Contaduria</option>
                                                <option>Administración industrial</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col mb-3">
                                            <input id="correoParticipante" class="form-control form-control-lg" placeholder="Correo">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center col mb-3">
                                        <div class="col-sm-3">
                                            <button class="btn btn-secondary">Aceptar</button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn-secondary" type="reset">Limpiar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <div class="container" style="background: rgba(225, 222, 215,0.4)">
                                    <h5 style="text-align: center">Participantes</h5>
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Codigo</th>
                                            <th scope="col">Participantes</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tablaGrupos">
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>