<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-6 align-self-center">
            <div class="container" id="conlog">
                <div class="row justify-content-center col mb-3">
                    <div class="col aling-self-center">
                        <img class="col-sm-12" src="<%=asset_path 'uptc.jpeg'%>">
                    </div>
                </div>
                <div class="row col mb-3" style="background: #ECC72F">
                    <div class="col" style="text-align: center">
                        <h3 id="primertitulo" >INICIO DE SESIÓN</h3>
                    </div>
                </div>
                <div class="row justify-content-center col mb-3">
                    <div class="col-sm-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" id="usuario" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-key fa-2x" aria-hidden="true"></i></i></span>
                            </div>
                            <input class="form-control form-control-lg" type="password" id="contraseña" placeholder="Contraseña">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center col mb-3">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-secondary" id="btnInicio">Iniciar</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <a>¿Olvido su contraseña?</a>
                        <p></p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <a href="RegistrarUsuario.html">Registrarse</a>
                        <p></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
