<div class="row justify-content-center col mb-3">
    <div class="col-sm-9 aling-self-center">
        <div class="container" id="contenedorLogo">
            <div class="row justify-content-center">
                <div class="col-sm-12 aling-self-center">
                    <img src="<%=asset_path 'uptc.jpeg'%>"  width="700px" height="350px">
                </div>
                <div class="col-sm-12 aling-self-center" style="text-align: center">
                    <h2>Sistema de Gestión de grupos culturales y prestamos</h2>
                        <h2>UPTC-Seccional Sogamoso</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>