<div class="col-sm-6">
    <div class="container" style="background: rgba(225, 222, 215,0.4)">
        <h5 style="text-align: center">TUS GRUPOS</h5>

        <% if Group.where(user_id:current_user.id).count>0 %>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Grupo</th>
                    </tr>
                </thead>
                <tbody id="tablaGrupos">
                    <% Group.where(user_id:current_user.id).each do |c| -%>
                        <tr>
                            <td scope="col"><%=c.id%></td>
                            <td scope="col"><%=c.name%></td>
                        </tr>  
                    <% end %>
                </tbody>
            </table>
        <% end %>
        <% if Group.where(user_id:current_user.id).count==0 %>
            <p>No cuentas con grupos registrados</p>
        <% end %>





                     
    </div>
</div>