<div class="col-sm-6">
    <div class="container" style="background: rgba(225, 222, 215,0.4)">
        <h5 style="text-align: center">PRESTAMOS</h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Estudiante</th>
                    <th scope="col">Elemento</th>
                </tr>
            </thead>
            <tbody id="tablaPrestamo">
            </tbody>
        </table>

    </div>
</div>