<div class="col-sm-6">
    <div class="container" style="background: rgba(225, 222, 215,0.4)">
        <h5 style="text-align: center">TUS GRUPOS</h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Grupo</th>
                </tr>
            </thead>
            <tbody id="tablaGrupos">
            </tbody>
        </table>
    </div>
</div>